extends layout

block content
  h2 Thanks for your interest to our services
  
  p It's great to see interesting into our portal. You might need to know what inside our system right now. To see that you can understand in detail about our services. 
  
